[submodule "shobar"]
	path = wp/src/wp-content/themes/shobar
	url = git@github.com:sho-bar/shobar.git
[submodule "sho-menu"]
	path =  wp/src/wp-content/plugins/sho-menu
    url = git@github.com:sho-bar/sho-menu.git
