[submodule "shobar"]
	path = wp/src/wp-content/themes/shobar
	url = git@github.com:SerhiiCho/shobar.git
[submodule "sho-admin"]
	path =  wp/src/wp-content/plugins/sho-admin
	url = git@github.com:SerhiiCho/sho-admin.git
